@font-face {
  font-family: "Myriad Pro";
  src: local("Myriad Pro"),
    url(/src/assets/font/MYRIADPRO-COND.OTF) format("truetype");
}
@font-face {
  font-family: "Myriad Pro Regular";
  src: local("Myriad Pro Regular"),
    url(/src/assets/font/MYRIADPRO-REGULAR.OTF) format("truetype");
}
@font-face {
  font-family: "Myriad Pro Bold";
  src: local("Myriad Pro Regular"),
    url(/src/assets/font/MYRIADPRO-SEMIBOLD.OTF) format("truetype");
}
body {
  margin: 0;
  font-family: "Myriad Pro" !important;
  background-color: black !important;
  color: white !important;
}
section {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.link-class {
  font-size: 3rem;
  font-family: "Myriad Pro Bold";
}
.home-title1 {
  font-size: 6rem;
  font-family: "Myriad Pro Bold";
  line-height: 1.3;
}
.home-title1 div {
  display: inline-block;
}
.home-title2 {
  font-size: 3.2rem;
  /* font-family: "Myriad Pro Bold"; */
  /* line-height: 2; */
}
.home-title3 {
  font-size: 3.8rem;
  /* font-family: "Myriad Pro Bold"; */
  /* line-height: 2; */
}
.home-mint {
  font-size: 3.8rem;
  font-family: "Myriad Pro Bold";
}
.video-title {
  font-size: 2rem;
  line-height: 1;
  margin-top: -4rem;
}

.collection-title1 {
  font-size: 4rem;
  font-family: "Myriad Pro Bold";
}
.collection-title1 div {
  display: inline-block;
}
.collection-title2 {
  font-size: 3rem;
}

.benefits-title1 {
  font-size: 3rem;
  font-family: "Myriad Pro Bold";
}
.benefits-title1 div {
  display: inline-block;
}
.benefits-title2 {
  font-size: 1.6rem;
}
.benefits-title3 {
  font-size: 3rem;
}
.vision-title {
  font-size: 4em;
}
.roadmap-all {
  font-size: 5rem;
  background-image: url("./assets/film.png");
  background-repeat: repeat-y;
  background-size: 100px;
}
.number {
  padding: 20px;
}
.roadmap-title1 {
  font-size: 3rem;
  font-family: "Myriad Pro Bold";
}
.roadmap-title2 {
  font-size: 2rem;
}
.roadmap-title {
  flex: 1;
  text-align: justify;
  text-justify: inter-word;
}
.roadmap-title3 {
  font-size: 1.5rem;
  flex: 4;
}
#team img {
  width: 100%;
  aspect-ratio: 1;
}
.react-multi-carousel-item {
  padding: 20px;
  text-align: center;
}
.carousel {
  background-color: #1a1a1a;
  border-radius: 5px;
}

@media (max-width: 576px) {
  .react-player {
    max-width: 350px;
  }
  .collection-title1 {
    font-size: 3rem;
  }
}
.item {
  padding: 20px;
}
#footer a {
  color: white;
}
